[user]
	name = Çınar Özkan
	email = me@cinarozkan.com

[core]
    editor = nano
    autocrlf = input
    pager = less

[color]
    ui = auto

[init]
	defaultBranch = main

[push]
    default = simple
