
[core]
  editor = nvim
  autocrlf = input
  pager = less

[alias]
  lg = log --oneline --graph --decorate
	st = status

[color]
  ui = auto

[init]
  defaultBranch = main

[push]
  default = simple

[include]
  path = ~/.gitconfig.local
[gpg]
	format = ssh
[user]
	signingkey = /home/cinar/.ssh/id_ed25519.pub
[commit]
	gpgsign = true
