
[core]
  editor = nvim
  autocrlf = input
  pager = less

[alias]
  lg = log --oneline --graph --decorate
	st = status

[color]
  ui = auto

[init]
  defaultBranch = main

[push]
  default = simple

[include]
  path = ~/.gitconfig.local

